services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\Application\Http\:
    resource: '%kernel.project_dir%/src/Application/Http/**/*Controller.php'
    tags: [ 'controller.service_arguments' ]