{% extends "layout/layout.html.twig" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
    <h1>Your lucky number is {{ number }}</h1>
{% endblock %}