{% extends "layout/layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fas fa-microchip"></i></span>
                <div class="info-box-content sensor-control" data-sensor-topic="greenhouse/temperature" data-sensor-id="9">
                    <span class="info-box-text">Теплица - температура (шаблон - нет в БД)</span>
                    <span class="info-box-number">
                        <span data-sensor-value="greenhouse/temperature">99</span>
                    </span>
                </div>
            </div>
        </div>

        {% for device in devices %}

            {% if device.type == 'sensor' %}
                {% include 'common/sensor.html.twig' with {'device': device.entity} only %}
            {% elseif device.type == 'relay' %}
                {% include 'common/relay.html.twig' with {'device': device.entity} only %}
            {% elseif device.type == 'security' %}
                {% include 'common/security.html.twig' with {'device': device.entity} only %}
            {% elseif device.type == 'fireSecurity' %}
                {% include 'common/fireSecurity.html.twig' with {'device': device.entity} only %}
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}