NEW_RELIC_AGENT_VERSION="9.21.0.311"
NEW_RELIC_LICENSE_KEY="<TOKEN_NEWRELIC>"
NEW_RELIC_APPNAME="Uberserver"
NEW_RELIC_SUPERVISORNAME="UberserverSupervisor"
NEW_RELIC_DAEMON_ADDRESS="newrelic-apm-daemon:31339"
