###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea
docker-compose.yaml
/.docker.env
/docker/alertmanager/alertmanager.yml
/src/Application/Cli/Task/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/.psalm/cache/

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
