version: "3.4"
services:
  nginx:
    image: nginx:alpine
    container_name: uberserver-web
#    restart: always
    volumes:
      - ./:/var/www
      - ./docker/nginx/config:/etc/nginx/conf.d
      - ./docker/nginx/logs:/var/log/nginx
    depends_on:
      - php-fpm
    ports:
      - "84:80"
    networks:
      - uberserver

  php-fpm:
    build:
      context: ./
      dockerfile: docker/php/DockerfileSupervisor
    container_name: uberserver-symfony-supervisor
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./docker/supervisor/config:/etc/supervisor/conf.d
      - ./:/var/www
      - ./docker/php/php-fpm.ini:/usr/local/etc/php/php.ini
#    restart: always
    command: /usr/bin/supervisord
    environment:
      - "PSQL_PORT=5432"
      - "PSQL_HOST=postgres"
      - "RABBITMQ_PORT=5672"
      - "PHP_IDE_CONFIG=serverName=Docker"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - uberserver

  commands:
    build:
      context: .
      dockerfile: ./docker/php/DockerfileCommands
    container_name: uberserver-command
    volumes:
      - ./:/var/www
      - ./docker/php/php-fpm.ini:/usr/local/etc/php/php.ini
    environment:
      - "PSQL_PORT=5432"
      - "PSQL_HOST=postgres"
    depends_on:
      - postgres
    networks:
      - uberserver

  postgres:
    image: postgres:11.2-alpine
    container_name: uberserver-postgres
    volumes:
      - ./docker/postgres/create_extension.sql:/docker-entrypoint-initdb.d/create_extension.sql
      - uberserver-postgres:/var/lib/postgresql/data
    ports:
      - "54322:5432"
    environment:
      - "POSTGRES_DB=uberserver"
      - "POSTGRES_USER=root"
      - "POSTGRES_PASSWORD=root"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - uberserver

  redis:
    image: redis:6.0
    container_name: uberserver-redis
    networks:
      - uberserver

volumes:
  uberserver-postgres: {}

networks:
  uberserver:
    driver: bridge