<h1>Hello! Please confirm your email!</h1>

<p>
    To confirm your email, click on the link below.: <br><br>
    <a href="{{ signedUrl }}">Verify my mail</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Good luck!
</p>
