<h1>Привет! Подтверди пожалуйста почту!</h1>

<p>
    Чтобы подтвердить почту, кликни на ссылку ниже: <br><br>
    <a href="{{ signedUrl }}">Подтвердить мою почту</a>.
    Эта ссылка протухнет через {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Удачи!
</p>
