<!--
secure

private string $securityType,
private string $name,
private string $topic,
private ?string $payload,

private ?string $detectPayload,
private ?string $holdPayload,
private ?string $lastCommand,
-->

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fas fa-shield-alt"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">{{ device.name }}</span>
            <div class="btn-group secure-sensor-control" data-secstate-topic="{{ device.topic }}" data-security-last-state="{{ device.lastCommand }}" data-swift-id="{{ device.id }}">
                <a class="btn btn-outline-info secure-state-info"><i class="fas fa-male"></i></a>
                <button type="button" class="btn btn-outline-success secure-trigger-on"><i class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-outline-danger secure-trigger-off active"><i class="fas fa-eye-slash"></i></button>
            </div>
        </div>
    </div>
</div>