<h1>Hello! Restoring yore password action!</h1>

<p>
    To restore your password, click on the link below.: <br><br>
    <a href="{{ url }}">Restore my password</a>.
    This link will expire in on {{ date }} (UTC+3).
</p>

<p>
    Good luck!
</p>